body {
  background: linear-gradient(180deg, hsl(234, 17%, 12%) 0%, #40284a 100%);
  color: white;
  height: 100vh;
  overflow-y: hidden; 
  overflow-x: hidden;
}

.body-container {
  margin-top: 160px;
  text-align: center;
}

h1{
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 7px;
  text-shadow: 0px 0px 2px white;
}

.grid-container {
  margin: auto;
  width: 40%;
  display: flex;
  grid-template-columns: auto auto auto auto;
  margin-top: 100px;
}

.grid-item {
  margin: auto;
  width: 120px;
  height: 110px;
  background-color: hsl(236, 21%, 26%);
  border-radius: 7px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  box-shadow: 0px 12px 2px 0px hsl(234, 17%, 12%);
}

.grid-text {
  color: hsl(237, 18%, 59%);
  margin: auto;
  margin-top: -80px;
  width: 130px;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 7px;
  text-shadow: 0px 0px 2px hsl(237, 18%, 59%);
}

#days, #hours, #minutes, #seconds{
  font-weight: bold;
  font-size: 55px;
  color: hsl(345, 95%, 68%);
}

.bottom-container {
  margin-top: 200px;
  height: 250px;
  background-size: cover;
}

.social-icons {
 display: flex;
 justify-content: center;
}

.social-icons img{
  margin-top: 125px;
  padding: 10px;
}
